spring: { application: { name: ludotheque }, data: { mongodb: { database: LUDOTHEQUE, auto-index-creation: true, uri: mongodb://user:pass@192.168.50.128:27017/ } } }
logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG,
    fr:
      eni:
        ludotheque: INFO

